aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aioredis==2.0.1
aiosignal==1.4.0
amqp==5.3.1
annotated-types==0.7.0
anthropic==0.58.2
anyio==3.7.1
APScheduler==3.11.0
async-timeout==5.0.1
asyncpg==0.30.0
attrs==25.3.0
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.13.4
billiard==4.2.1
boto3==1.39.9
botocore==1.39.9
bs4==0.0.2
build==1.2.2.post1
cachetools==5.5.2
celery==5.5.3
celery-redbeat==2.3.3
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
chromadb==1.0.15
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
coloredlogs==15.0.1
copilotkit==0.1.50
cryptography==45.0.5
dataclasses-json==0.6.7
deprecation==2.1.0
distro==1.9.0
dnspython==2.7.0
durationpy==0.10
ecdsa==0.19.1
email_validator==2.2.0
fastapi==0.104.1
filelock==3.18.0
flatbuffers==25.2.10
frozenlist==1.7.0
fsspec==2025.7.0
gevent==25.5.1
google-auth==2.40.3
googleapis-common-protos==1.70.0
gotrue==2.12.3
greenlet==3.2.3
grpcio==1.73.1
h11==0.16.0
h2==4.2.0
hf-xet==1.1.5
hpack==4.1.0
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.33.4
humanfriendly==10.0
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
Jinja2==3.1.6
jiter==0.10.0
jmespath==1.0.1
json-flatten==0.3.1
JSON-minify==0.3.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
kombu==5.5.4
kubernetes==33.1.0
langchain==0.0.335
langchain-community==0.0.20
langchain-core==1.0.4
langchain-openai==1.0.2
langchain-text-splitters==0.3.8
langgraph==0.3.18
langgraph-checkpoint==2.1.1
langgraph-prebuilt==0.1.8
langgraph-sdk==0.1.73
langsmith==0.0.92
mangum==0.19.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
mdurl==0.1.2
mmh3==5.1.0
motor==3.6.0
mpmath==1.3.0
multidict==6.6.3
mypy_extensions==1.1.0
nanoid==2.0.0
nest-asyncio==1.6.0
nodeenv==1.9.1
numpy==1.26.4
oauthlib==3.3.1
onnxruntime==1.22.1
openai==2.8.0
opentelemetry-api==1.35.0
opentelemetry-exporter-otlp-proto-common==1.35.0
opentelemetry-exporter-otlp-proto-grpc==1.35.0
opentelemetry-proto==1.35.0
opentelemetry-sdk==1.35.0
opentelemetry-semantic-conventions==0.56b0
orjson==3.11.0
ormsgpack==1.10.0
overrides==7.7.0
packaging==23.2
pandas==2.3.1
partialjson==0.0.8
passlib==1.7.4
pillow==11.3.0
postgrest==1.1.1
posthog==5.4.0
prisma==0.15.0
prompt_toolkit==3.0.51
propcache==0.3.2
protobuf==6.31.1
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.1
pycountry==24.6.1
pycparser==2.22
pydantic==2.5.0
pydantic-settings==2.5.2
pydantic_core==2.14.1
Pygments==2.19.2
PyJWT==2.10.1
pymongo==4.9.2
pypdf==5.8.0
PyPika==0.48.9
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-http-client==3.3.7
python-jose==3.3.0
python-multipart==0.0.6
pytz==2025.2
PyYAML==6.0.2
realtime==2.6.0
redis==6.2.0
referencing==0.36.2
regex==2024.11.6
replicate==1.0.7
requests==2.32.4
requests-exoscale-auth==1.1.2
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==14.0.0
rpds-py==0.26.0
rsa==4.9.1
s3transfer==0.13.1
sendgrid==6.12.4
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy==2.0.41
starlette==0.27.0
storage3==0.12.0
StrEnum==0.4.15
stripe==12.3.0
supabase==2.17.0
supafunc==0.10.1
sympy==1.14.0
tenacity==8.5.0
tiktoken==0.12.0
tokenizers==0.21.2
toml==0.10.2
tomlkit==0.13.3
tqdm==4.67.1
typer==0.16.0
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.14.1
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.5.0
uvicorn==0.24.0
uvloop==0.21.0
vine==5.1.0
watchfiles==1.1.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
yarl==1.20.1
zipp==3.23.0
zope.event==5.1
zope.interface==7.2
zstandard==0.23.0
